extends layout.pug

block styles
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/clock.css")


block content

    #clockdiv(style='display:block;')
        div
            span.days
            .smalltext Days
        div
            span.hours
            .smalltext Hours
        div
            span.minutes
            .smalltext Minutes
        div
            span.seconds
            .smalltext Seconds


    section
        .container
            .row
                .col.s12.m4
                    .card.rounded.padded-compact
                        h1.light 
                            i.center.material-icons.light.medium.blue-text filter_vintage
                            br
                            | feature
                        p sdfghj dfghjk 
                        p dfghd fgh 
                        p dfgh dfg
                        p
                            a.btn.btn-large.blue(href="#") Ankita
                            
                .col.s12.m4
                    .card.rounded.padded-compact
                        h1.light 
                            i.center.material-icons.light.medium.blue-text filter_vintage
                            br
                            | feature
                        p sdfghj dfghjk 
                        p dfghd fgh 
                        p dfgh dfg
                        p
                            a.btn.btn-large.blue(href="#") Ankita
                            
                .col.s12.m4
                    .card.rounded.padded-compact
                        h1.light 
                            i.center.material-icons.light.medium.blue-text filter_vintage
                            br
                            | feature
                        p sdfghj dfghjk 
                        p dfghd fgh 
                        p dfgh dfg
                        p
                            a.btn.btn-large.blue(href="#") Ankita
                            

block scripts
    script(src="/js/index.js")
    script(src="/js/init/clock.js")
