doctype html
html
    head
        title #{title} - RupeeRabbit
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

        include styles.pug
        
        block styles
        
    body
        
        header#header.alt
            h1#logo
                //-img(src="/images/logo-small.png", alt="logo", style="max-height: 28px")
                a(href="/") RupeeRabbit
                
            include navbar.pug
      
            

        #main    
            block content
        
        include footer.pug
        include scripts.pug
        
        block scripts
