doctype html
html
    head
        title #{title} - RupeeRabbit
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

        include styles.pug
        
        block styles
        
    body
        
        header
            include navbar.pug
      
            

        main    
            block content
        
        include footer.pug
        include scripts.pug
        
        block scripts
