.nav-fixed
    nav.white
        .nav-wrapper.container
            a.brand-logo.center(href="/")
                img(src="/images/rabbit-nav.png")
            a.sidenav-trigger(href='#' data-target='mobile-demo')
                i.material-icons.black-text.light menu

            ul.left.hide-on-med-and-down
                li
                    a.blue-text.text-lighten-1.light(href='#') Funds
                li
                    a.blue-text.text-lighten-1.light(href='#') Investments
                li
                    a.blue-text.text-lighten-1.light(href='#') Personal Finance

            ul.right.hide-on-med-and-down
                li
                    a.blue-text.text-lighten-1.light(href='#') About
                

ul#mobile-demo.sidenav
    li
        a(href='sass.html') Sass
    li
        a(href='badges.html') Components
    li
        a(href='badges.html') Components
