doctype html
//
    Designed by 
    Dayshmookh Apps
    dayshmookh.github.io

    -----
    
    Template
    Directive by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

html
    head
        title Directive by HTML5 UP
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet" href="/css/main.css")
    body.is-preload
        // Header
        #header
            span.logo.icon.fa-paper-plane-o
            h1 Hi. This is Directive.
            p
                | A responsive HTML5 + CSS3 site template designed by 
                a(href="http://html5up.net") HTML5 UP
                br
                | 				and released for free under the 
                a(href="http://html5up.net/license") Creative Commons license
                | .
        // Main
        #main
            header.major.container.medium
                h2
                    | We conduct experiments that
                    br
                    | 					may or may not seriously
                    br
                    | 					break the universe
                //
                    <p>Tellus erat mauris ipsum fermentum<br />
                    etiam vivamus nunc nibh morbi.</p>
            .box.alt.container
                section.feature.left
                    a.image.icon.fa-signal(href="#")
                        img(src="images/pic01.jpg" alt="")
                    .content
                        h3 The First Thing
                        p
                            | Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.
                section.feature.right
                    a.image.icon.fa-code(href="#")
                        img(src="images/pic02.jpg" alt="")
                    .content
                        h3 The Second Thing
                        p
                            | Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.
                section.feature.left
                    a.image.icon.fa-mobile(href="#")
                        img(src="images/pic03.jpg" alt="")
                    .content
                        h3 The Third Thing
                        p
                            | Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.

            .box.container
                header
                    h2 A lot of generic stuff
                section
                    header
                        h3 Paragraph
                        p This is the subtitle for this particular heading
                    p
                        | Phasellus nisl nisl, varius id 
                        sup porttitor sed pellentesque
                        |  ac orci. Pellentesque
                        | 				habitant 
                        strong strong
                        |  tristique 
                        b bold
                        |  et netus 
                        i italic
                        |  malesuada 
                        em emphasized
                        |  ac turpis egestas. Morbi
                        | 				leo suscipit ut. Praesent 
                        sub id turpis vitae
                        |  turpis pretium ultricies. Vestibulum sit
                        | 				amet risus elit.
                section
                    header
                        h3 Blockquote
                    blockquote
                        | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
                        | tempus euismod. Vestibulum ante ipsum primis in faucibus.
                section
                    header
                        h3 Divider
                    p
                        | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
                        | ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
                        | facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
                        | tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        | posuere cubilia.
                    hr
                    p
                        | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
                        | ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
                        | facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
                        | tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        | posuere cubilia.
                section
                    header
                        h3 Unordered List
                    ul.default
                        li
                            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                        li
                            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                        li
                            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                        li
                            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                section
                    header
                        h3 Ordered List
                    ol.default
                        li
                            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                        li
                            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                        li
                            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                        li
                            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                section
                    header
                        h3 Table
                    .table-wrapper
                        table.default
                            thead
                                tr
                                    th ID
                                    th Name
                                    th Description
                                    th Price
                            tbody
                                tr
                                    td 45815
                                    td Something
                                    td Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                                    td 29.99
                                tr
                                    td 24524
                                    td Nothing
                                    td Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                                    td 19.99
                                tr
                                    td 45815
                                    td Something
                                    td Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                                    td 29.99
                                tr
                                    td 24524
                                    td Nothing
                                    td Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
                                    td 19.99
                            tfoot
                                tr
                                    td(colspan="3")
                                    td 100.00
                section
                    header
                        h3 Form
                    form(method="post" action="#")
                        .row
                            .col-6.col-12-mobilep
                                label(for="name") Name
                                input#name.text(type="text" name="name" value="" placeholder="John Doe")
                            .col-6.col-12-mobilep
                                label(for="email") Email
                                input#email.text(type="text" name="email" value="" placeholder="johndoe@domain.tld")
                            .col-12
                                label(for="subject") Subject
                                input#subject.text(type="text" name="subject" value="" placeholder="Enter your subject")
                            .col-12
                                label(for="subject") Message
                                textarea#message(name="message" placeholder="Enter your message" rows="6")
                            .col-12
                                ul.actions.special
                                    li
                                        input(type="submit" value="Send")
                                    li
                                        input.alt(type="reset" value="Reset")

                        footer.major.container.medium
                            h3 Get shady with science
                            p
                                | Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus.
                            ul.actions.special
                                li
                                    a.button(href="#") Join our crew
        // Footer
        #footer
            .container.medium
                header.major.last
                    h2 Questions or comments?
                p
                    | Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor
                    | orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus.
                form(method="post" action="#")
                    .row
                        .col-6.col-12-mobilep
                            input(type="text" name="name" placeholder="Name")
                        .col-6.col-12-mobilep
                            input(type="email" name="email" placeholder="Email")
                        .col-12
                            textarea(name="message" placeholder="Message" rows="6")
                        .col-12
                            ul.actions.special
                                li
                                    input(type="submit" value="Send Message")
                ul.icons
                    li
                        a.icon.fa-twitter(href="#")
                            span.label Twitter
                    li
                        a.icon.fa-facebook(href="#")
                            span.label Facebook
                    li
                        a.icon.fa-instagram(href="#")
                            span.label Instagram
                    li
                        a.icon.fa-github(href="#")
                            span.label Github
                    li
                        a.icon.fa-dribbble(href="#")
                            span.label Dribbble
                ul.copyright
                    li © Untitled. All rights reserved.
                    li
                        | Design: 
                        a(href="http://html5up.net") HTML5 UP
        // Scripts
        script(src="asset/js/jquery.min.js")
        script(src="asset/js/browser.min.js")
        script(src="asset/js/breakpoints.min.js")
        script(src="asset/js/util.js")
        script(src="asset/js/main.js")
